# Copyright 2020 Heath Stewart.
# Licensed under the MIT License. See LICENSE.txt in the project root for license information.

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{*proj;props;targets}]
indent_size = 2
